<div class="text-center">
    <h1 class="display-4">@ViewBag.Message</h1>
    <table class="table table-sm table-striped">
        <thead>
            <tr><th>Id</th><th>Nome</th><th>Categoria</th><th>Preço</th></tr>
        </thead>
        <tbody>
            @foreach(var p in Model)
            {
                <tr>
                    <td>@p.ProdutoId</td>
                    <td>@p.Nome</td>
                    <td>@p.Categoria</td>
                    <td>$@p.Preco.ToString("F2")</td>
                </tr>
            }
        </tbody>
    </table>
</div>
